doctype html
html
   head
      title Servidor de Imágenes
   body
      h1 Image server

      nav
         ul
            li
               a(href="/imagenes") Imágenes
            li
               a(href="/imagen") Subir imagen