doctype html
html
   head
      title Servidor de Imágenes
   body
      h1 Imagen

      form(action="/upload",method="post", enctype="multipart/form-data")

         img(src="http://fakeimg.pl/300x300")
         
         label
            span Subir Imagen
            input(type="file",name="image")
         
         input(type="submit")
